$space-x0: 1px;
$space-x1: 6px;
$space-x2: 11px;
$space-x3: 16px;
$space-x4: 21px;

$border-color: rgba(255, 255, 255, 0.15);
$table-header-background: rgba(0, 0, 0, 0.1);

// Table

table.bp3-html-table,
table.bp3-html-table.bp3-interactive {
  &.rf-table {
    border: 1px solid $border-color;
    width: 100%;

    .rf-placeholder {
      padding-top: $space-x4;
      padding-bottom: $space-x4;
      padding-left: $space-x3;
      padding-right: $space-x3;
    }

    th {
      background-color: $table-header-background;
    }
  }

  &.rf-view,
  &.rf-form {
    border: 1px solid $border-color;
    border-top: none;
    width: 100%;

    tr,
    tr:hover {
      .rf-label {
        font-weight: 600;
        text-align: right;
        background-color: $table-header-background;
        vertical-align: middle;
      }
    }

    label {
      cursor: pointer;
    }
  }
}

// Toolbar

.rf-toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $space-x4;

  &.rf-top-margin {
    margin-top: $space-x1;
  }

  &.rf-bottom-margin {
    margin-bottom: $space-x1;
  }

  > * {
    margin-right: $space-x1;
  }
}

// Pagination

.rf-pagination {
  align-items: center;

  .rf-pages {
    padding: 0 $space-x1;
  }
}

// Error

.rf-error {
  &.rf-top-margin {
    margin-top: $space-x1;
  }

  &.rf-bottom-margin {
    margin-bottom: $space-x1;
  }
}

// Cell rendering

.rf-array,
.rf-array-element,
.rf-bool,
.rf-date,
.rf-empty,
.rf-number,
.rf-string,
.rf-tag,
.rf-text {
  display: inline-block;
}

.rf-array-element {
  margin-right: $space-x1;
}
